.app {
  display: flex;
  flex-direction: column;
}

.toolbar {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  height: 50px;
  // display: flex;
  // align-items: center;
  background-color: #1976d2;
  // color: white;
  // font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  margin-top: 15px;
}